use_directory_urls: false

site_name: "{{ site_name }}"
site_author: "{{ author }}"

theme:
  name: material
  logo: personalization/logo.png
  language: en

nav:
{{ nav_yaml | indent(0) }}

extra_css:
  - personalization/eng-standard-theme.css
  - personalization/toc.css
  - personalization/fabric.min.css

extra_javascript:
  - personalization/toc.js
  - personalization/script.js

extra:
  version:
    provider: mike
  navigation:
    collapse: true
  media_dir: 'images/extract/media'

plugins:
  - search 
  - render_swagger:
      css: personalization/swagger-ui.css
  - i18n:
      docs_structure: suffix
      fallback_to_default: false
      default_language_only: false
      languages:
        - locale: it
          default: true
          name: Italian
          build: true
        - locale: en
          name: English
          build: true
  - print-site

markdown_extensions:
  - markdown_captions
  - admonition
  - pymdownx.details
  - pymdownx.superfences
